body{
    text-align: center;
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    font-size: 10px;
    font-family: unset;
    font-weight: bolder;
}